<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>prueba 1</h1>
    <a href="/productos/losProductos">ver productos</a>
    <a href="/productos/editarProducto">agregar productos</a>


    <a href="/productos/lasCategorias">categoria</a>
    <a href="/productos/lasSubCategorias">subcategoria</a>

<div>
  <a href="/productos/productosOfertas">ProductosConOferta</a>
</div>
    <div>
      <nav>
        <ul>
         <li>PERROS
          <ul>
            <li><a href="/productos/productNav/perros/alimentos">Comidas</a></li>
            <li><a href="/productos/productNav/perros/accesorios">Accesorios</a></li>
          </ul>
         </li>
         <li>GATOS
          <ul>
            <li><a href="/productos/productNav/gatos/alimentos">Comidas</a></li>
            <li><a href="/productos/productNav/gatos/accesorios">Accesorios</a></li>
          </ul>
         </li>
         <li>PECES
          <ul>
            <li><a href="/productos/productNav/peces/alimentos">Comidas</a></li>
            <li><a href="/productos/productNav/peces/accesorios">Accesorios</a></li>
          </ul>
         </li>
         <li>AVES
          <ul>
            <li><a href="/productos/productNav/aves/alimentos">Comidas</a></li>
            <li><a href="/productos/productNav/aves/accesorios">Accesorios</a></li>
          </ul>
         </li>
         <li>ROEDORES
          <ul>
            <li><a href="/productos/productNav/roedores/alimentos">Comidas</a></li>
            <li><a href="/productos/productNav/roedores/accesorios">Accesorios</a></li>
          </ul>
         </li>
         <li>REPTILES
          <ul>
            <li><a href="/productos/productNav/reptiles/alimentos">Comidas</a></li>
            <li><a href="/productos/productNav/reptiles/accesorios">Accesorios</a></li>
          </ul>
         </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
